{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "func-names": 0,
    "id-length": [1, {"exceptions": ["$"]}],
    "new-cap": [2, {"capIsNewExceptions": ["Deferred"]}]
  },
  "globals": {
    "fixture": true,
    "chrome": true,
  }
}
