name: Node CI
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  FORCE_COLOR: 2
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'
      env:
        FORCE_COLOR: 0
    - run: yarn install
    - run: ./packages/blob-reader/scripts/update-fixtures.sh
    - run: yarn test
    - run: yarn build
    - name: Run E2E
      uses: mujo-code/puppeteer-headful@master
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
      with:
        args: yarn e2e
    - uses: actions/upload-artifact@v3
      with:
        path: dist
  safari:
    runs-on: macos-latest
    needs: build
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/download-artifact@v3 # npm install+build seems slow and problematic on macOS
      with:
        path: dist
        name: artifact 
    - uses: maxim-lobanov/setup-xcode@v1
    - run: npm run safari-pack
